# Edit and copy to .primary/.env
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=test_db
MYSQL_USER=test_user
MYSQL_PASSWORD=test_pass

# Public IP or DNS of this PRIMARY VM – used by Kafka’s advertised listeners
PRIMARY_PUB_IP=YOUR_PRIMARY_PUBLIC_IP
